* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body,
button,
input,
select,
textarea {
    font-family: "Heebo", sans-serif;
}

body {
    background-color: rgb(185, 233, 185);
}

header {
    background-color: rgb(249, 150, 193);
    height: 80px;
}

header #navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
  height: 80px;
  
}

header .nav-brand {
     text-decoration: none;
    font-size: 1.5rem;
    font-weight: 700;
    color: white;
    padding: 2rem;
}

header .nav-brand:hover {
    color: #a8fcd2;
    transition: color 0.6s;
}


header #navbar .nav-list  {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2rem;
}

header #navbar .nav-list .nav-item a{
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: 500;
}

header #navbar .nav-list .nav-item a:hover {
    color: #a8fcd2;
    transition: color 0.2s;
}

header #navbar .hamburguer-menu {
    display: none;
  }
  
@media (max-width: 740px) {
    header #navbar .hamburguer-menu {
      display: block;
    }
  
    header #navbar .nav-list {
      display: none;
    }
}

/* SECTION BANNER */

main {
    margin-top: 6rem;
}

main #banner .banner-content .banner-content-title {
    font-size: 35px;
    font-weight: 700;
    line-height: 60px;
    margin-bottom: 38px;
    border-radius: 2%;
}

main #banner .banner-content .banner-content-subtitle {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    max-width: 500px;
    margin-bottom: 38px;
}

main #banner .banner-content .banner-content-btn {
    background-color: rgb(185, 233, 185);
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: 500;
    border-radius: 2px;
    padding: 8px 60px;
    border: none;
    cursor: pointer;
}

main #banner .banner-image {
    border-radius: 58%;
    width: 100%;
    max-width: 400px; 
    border-width: 40px;
    border-style:solid;
    border-color:rgb(185, 233, 185);
}

@media (max-width: 920px) {
    main #banner {
      flex-direction: column-reverse;
      align-items: center;
      gap: 2rem;
    }
    main #banner .banner-content {
      text-align: center;
    }
}

main #banner {
    background-color: rgba(248, 180, 203, 0.953);
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    padding: 0 2rem;
    margin: 0 auto;
    border-radius: 1%;
}

/* SECTION POSTS */

section #posts{
    margin-top: 71px;
    background-color:rgb(255, 195, 227);
}

#posts .posts-content{
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
    background-color: white;
    font-size: large;
}

#posts .posts-content .posts-content-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}

#posts .posts-content .posts-content-header .section-title {
    font-size: 24px;
    font-weight: 500;
    font-style:italic;
}

#posts .posts-content .posts-content-header .view-all-link{
    font-size: 22px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-decoration: none;
    color:rgb(93, 171, 93);
}

#posts .posts-content .posts-cards {
    display: flex;
    justify-content: space-between;
    gap: 5rem;
    background-color:rgba(248, 180, 203, 0.953);
    padding: 50px;
    border-radius: 68px;
}

#posts .posts-content .posts-cards .posts-cards-left{
    background-color: #a4f2ac;
    padding: 24px;
    margin-left: 10px;
    font-size: 20px;
    border-radius: 25px;
}

#posts .posts-content .posts-cards .posts-cards-right{
    background-color: #a4f2ac;
    padding: 24px;
    margin-left: 10px;
    font-size: 20px;
    border-radius: 25px;
}

#posts .posts-content .posts-cards h3 {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 37px;
    
}

#posts .posts-content .posts-cards span {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 24px;
    display:block;
}

@media (max-width: 740px) {
    #posts .posts-content .posts-cards {
      flex-direction: column;
    }
}

footer {
    background-color: #9d9c9c;
    text-align: center;
    font-size: 18px;
    font-family: sans-serif;
    font-weight:lighter;
    font-style:normal;
    color:rgba(255, 255, 255, 0.656);
}


#carousel {
    position: relative;
    width: 80%; /* Ajuste a largura do carrossel conforme necessário */
    margin: 2rem auto; /* Adiciona margem para posicionar abaixo do banner */
    overflow: hidden;
}

.carousel-slide {
    position: relative;
    display: flex;
    transition: transform 0.5s ease; /* Adiciona uma transição suave */
}

.carousel-slide img {
    width: 380px; /* Ajuste o tamanho das imagens conforme necessário */
    height: auto;
    margin-right: 10px; /* Espaçamento entre as imagens */
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 192, 203, 0.8);
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #fff;
    padding: 10px;
    border-radius: 50%;
    z-index: 1;
}

.prevBtn {
    left: 10px;
}

.nextBtn {
    right: 10px;
}

/* Estilos para o formulário popup */
.form-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid #f1f1f1;
    z-index: 9;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

/* Estilos para o formulário container */
.form-container {
    max-width: 500px;
}

/* Estilos para o cabeçalho do formulário */
.form-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

/* Estilos para os rótulos dos campos */
.form-container label {
    font-weight: bold;
}

/* Estilos para os campos de entrada */
.form-container input[type=text],
.form-container select {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Estilos para o botão de submissão */
.form-container .btn {
    background-color: #ffb3cf;
    color: rgb(0, 0, 0);
    font-size: 14px;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    width: 100%;
}

/* Estilos para o botão de cancelamento */
.form-container .cancel {
    background-color: #ffb3cf;
    font-size: 14px;
    font-weight: bold;
}

.form-container .btn:hover {
    background-color: #c7f8d2;
}
/* Estilos para o botão de cancelamento quando hover */
.form-container .cancel:hover {
    background-color: #c7f8d2;
}

/* Estilos para fechar o formulário */
.form-container .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

/* Estilos para fechar o formulário quando hover */
.form-container .close:hover,
.form-container .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

